{% extends "template.html" %}
{% block title %}
<title>AC Vote</title>

{% endblock %}
{% block content %}
<div class= "container">
    <h1>{{classroom}}</h1>
    <form method="POST">
        <h1>AC Voting</h1>
        <h4>the AC is {{ac_status}} </h4>
        <label>would you like ac ?</label>
        <div class="row">
            <div class="six columns">

                <input type="submit" id="ac_on" name="ac" value="ON">
            </div>
            <div class="two-thirds">

                <input type="submit" id="ac_off" name="ac" value="OFF">
            </div>
        </div>
    </form>
</div>
<form method="get" action="{{ url_for("classroom_landing_page",building="checkpoint", classroom=123) }}">
    <input class="button" type="submit" value="back to main">
</form>
{% endblock %}