{% extends "/template.html" %}
{% block title %}
<title>ROOM SERVICE</title>
    {% endblock %}
{% block content %}
<link rel="stylesheet" href="../static/stylesheets/normalize.css" xmlns="http://www.w3.org/1999/html"/>
<link rel="stylesheet" href="../static/stylesheets/skeleton.css"/>

<h3>Welcome to room {{room}}!</h3>

The AC is currently off

<div class="row">
    <div>Current class in the room: {{this_lesson}}</div>
    <div>Next class in the room: {{next_lesson}}</div>
</div>

<br>
<div>
    <div class="six">
        <form method="get" action="{{ url_for("classroom_ac_page",building=building, classroom=room) }}">
        <button id="ac" name="ac" value="Vote of AC">Vote for AC</button>
        </form>
    </div>
    <div class="six">
        <form method="get" action={{"https://scottlieb.monday.com/boards/" + get_building_idx_timetable(building)}}>
            <button id="schedule" name="schedule" value="View Room Schedule">View Room Schedule</button>
        </form>
    </div>
    <div class="six">
      <form method="get" action="{{ url_for("classroom_ticket_page",building=building, classroom=room) }}">
        <button id="issues" name="issues" value="Open an Issue">Open an Issue</button>
    </div>
</div>
{% endblock %}