{% extends "template.html" %}
{% block title %}
<title>JANITOR REQUEST</title>
{% endblock %}
{% block content %}
<h1 style="text-align:center;">Open a ticket for room {{room}}</h1>
<p>&nbsp;</p>
<form method="POST">
    <div class="container">
        <input type="text" class="u-full-width" placeholder="Title" id="ticket_title" name="ticket_title" style="">

        <p> </p>
        <textarea class="u-full-width" placeholder="The issue..." id="ticket" name="ticket"></textarea>
        <p> </p>

        <label for="urgency" style="font-size: large">How urgent? </label>

        <select class="" id="urgency" name="urgency" style="font-size: large">
            <option value="1">very low</option>
            <option value="2">low</option>
            <option value="3">medium</option>
            <option value="4">high</option>
            <option value="5">critical</option>

        </select>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul class=flashes>
        {% for message in messages %}
        <li>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}
    <br>
    <br>
    <input class="button-primary" style="" type="submit" value="Submit Ticket">
    </div>
</form>
<form method="get" action="{{ url_for("classroom_landing_page",building="checkpoint", classroom=123) }}">
    <input class="button" type="submit" value="back to main">
</form>


{% endblock %}